#catalogue{
    margin: 0 auto;
    padding-inline: 62px;
    margin-top: 100px;
}

#catalogue ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

#catalogue ul li{
    border-radius: 20px;
    border: 1px solid #A5A5A5;
    padding: 20px;
    gap: 25px;
    width: 308.831px;
    height: 313.748px;  
}

#catalogue img{
    height: 168.185px;
    width: auto;
    margin: 0 auto;
    margin-bottom: 5px;
}

#catalogue ul li h2{
    color: var(--a, #003F62);
    font-family: Poppins;
    font-size: 17.094px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

#catalogue ul li p{
    color: #4A4A4A;
    font-family: Poppins;
    font-size: 17.094px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}