/* Style CSS du Header et du Footer ainsi que celui de la structure du HTML */

*{
    font-family: poppins, sans-serif;
    margin: 0 ;
    padding: 0;
}

:root{
    --a: #003F62;
    --b : #EDA415;
}

#top-header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    font-size: 14px;
    padding-block: 22px;
}

#top-header > p, #top-header > div > p{
    color: #292D32;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 8px;
}

#top-header img{
    width: 16px;
    height: 16px;
}

#top-header div{
    display: flex;
    gap: 36px;
}


#main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: var(--a);
    padding-block: 22px;
}

#main-header > div:first-child{
    display: flex;
    align-items: center;
    gap: 85px;
}

#main-header > div:first-child > div{
    display: flex;
    gap: 0px;
}

#main-header > div:first-child input{
    width: 438px;
    border: none;
    border-radius: 20px 0 0 20px;
    padding-block: 18px;
    padding-left: 25px;
    
}

#main-header > div:first-child input::placeholder{
    color: #292D32;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#main-header > div:first-child input:focus{
    outline: none;
}

#main-header > div:first-child button{
    border: none;
    background: var(--b);
    color: white;
    font-size: 16px;
    padding: 0 20px;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    padding-block: 18px;
    margin-left: -20px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#main-header > div:first-child button:hover{
    background: #cf8e0b;
}

#main-header > div:last-child{
    display: flex;
    gap: 29px;
}

#main-header > div:last-child article{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: #FFF;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#main-header > div:last-child article img{
    width: 24px;
    height: 24px;
}

#bottom-header{
    background-color: #F4F4F4;
    padding: 10px 50px;
    font-size: 14px;
    padding-block: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#bottom-header nav ul{
    display: flex;
    gap: 30px;
}

#bottom-header nav ul li{
    list-style: none;
    cursor: pointer;
    color: #292D32;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#bottom-header nav ul li:hover{
    color: #535353 ; 
}

#bottom-header nav ul li a{
    text-decoration: none;
    color: inherit;
}

#bottom-header > p{
    color: var(--a, #003F62);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* Footer CSS */
footer{
    background-color: #E2F4FF;
    padding: 40px 50px;
    justify-content: space-between;
    color: #292D32;
    padding-block: 60px;
    margin-top: 100px;
}

footer > section:nth-child(1){
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 50px;
    border-radius: 20px;
    margin-bottom: 40px;
    padding-block: 38px;

}

footer > section:nth-child(1) > div{
    display: flex;
    background-color: var(--b);
    padding: 25px;
    border-radius: 20px;
    gap: 219px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}

footer > section:nth-child(1) > h2{
    color: #1B5A7D;
    font-family: Poppins;
    font-size: 29.38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer > section:nth-child(1) > p{
    display: flex;
    gap: 20px;
    color: #606060;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer > section:nth-child(2){
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr 2fr ;
}

footer > section:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 80px;
}


footer > section:nth-child(2) > article h3{
    color: #1B5A7D;
    font-family: Poppins;
    font-size: 19.38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer > section:nth-child(2) > article p{
    color: #1B5A7D;
    font-family: Poppins;
    font-size: 19.38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}